.user-form {
  .form-row {
    display: flex;
    justify-content: space-between;

    .form-group {
      width: 48%; // Ajusta conforme necessário para alinhamento lateral

      label {
        display: block;
      }

      input {
        width: 100%;
      }
    }
  }
}
